@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}


body::before {
    content: "";
    position: fixed; /* Fixed position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Place the pseudo-element behind the content */

    display: block;
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the background image */
}

@media only screen and (min-device-width: 280px) and (max-device-width: 450px) and (min-device-height: 600px) and (max-device-height: 940px) and (orientation: portrait) {
    body::before {
        /* Override the background-image for mobile devices */
        background-image: url('background-mobile.jpeg');
        background-size: cover; /* Use cover instead of a percentage to fill the element */
    }
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 35;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}



@media screen and (max-width:1320px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
       margin-right: 20px;
       padding: 0;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        background-image: url('background-tablet.webp');
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

.logo-img {
    width: 18%;
}

/* Login button CSS */

/* Base style for the login button */
.login-item .login-btn {
    background-color: #4CAF50; /* Green background */
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    text-decoration: none; /* Remove underline from the link */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-weight: bold;
}

/* Hover style for the login button */
.login-item .login-btn:hover {
    background-color: white; /* Lighter shade of green on hover */
    color: #4CAF50 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Larger shadow for a "lifted" effect */
    transform: translateY(-2px); /* Slight move up to give a "button press" feel */
}

/* Focus style for the login button to maintain accessibility */
.login-item .login-btn:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5); /* Custom focus style */
}


/* About app section */

#about-app {
    background-color: rgba(0, 150, 0, 0.7); /* Tint of green with an alpha value of 0.6 */
    color: white; /* Adjust based on your design preference */
    padding: 145px 20px;
    padding-bottom: 20px; /* Adjust padding as needed */
}

/* Heading text */

.heading {
    text-align: center;
    margin-top: 10px; /* Adjust as needed for spacing */
  }
  
  .heading-text {
    font-family: 'Roboto', sans-serif; /* Example font, change as needed */
    font-size: 4rem; /* Large size for main heading */
    color: #4CAF50; /* Example color, change as needed */
    position: relative;
    display: inline-block;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Light background for contrast */
    border-radius: 10px; /* Rounded corners for the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    overflow: hidden; /* Ensures the pseudo-elements don't overflow */
    animation: fadeInUp 1s ease-in-out both; /* Animation for the heading */
  }
  
  /* Fade in and slide up animation */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Adding a decorative pseudo-element to the heading */
  .heading-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #66BB6A; /* Secondary color for a stylish line */
    animation: widen 1.5s ease-in-out 0.5s both; /* Line animation */
  }
  
  /* Animation for the pseudo-element to widen */
  @keyframes widen {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .container-app {
    text-align: center;
}

.about-image img {
    width: 30%; /* Use 100% of the .about-image container */
    border-radius: 10px; /* Optional: for styled image edges */
}

.about-text {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 13px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    min-height: 250px;
}

.about-text h2 {
    color: #f5f5f5;/* Adjust based on your design preference */
    font-size: 2.5rem;
}

.about-text p {
    font-size: 1.9rem; /* Adjust based on your design preference */
    line-height: 1.8;
    font-weight: 500; /* Adjust for readability */
    color: #f5f5f5;
}

@media only screen and (max-width: 1024px) {
    .about-text {
        min-height: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .about-image img {
        width: 65%;
    }
}

/* Features Section */

#features-section {
    background-color: rgba(165, 42, 42, 0.8);
    padding: 20px;
    color: #ffffff;
}

.features-heading {
    text-align: center;
    padding: 20px 0; /* Adds vertical padding */
    margin-bottom: 30px; /* Space between heading and the features */
}

.features-heading h2 {
    position: relative;
    font-size: 4rem;
    color: #333; /* Ensures text is readable against the background */
    background: rgba(248, 237, 215, 0.9); /* Vibrant background color for pop-out effect */
    display: inline-block;
    padding: 10px 30px; /* Padding around the text */
    border-radius: 20px; /* Rounded corners for the background */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    opacity: 0; /* Start invisible for the fade-in effect */
    transform: scale(0.95); /* Start slightly scaled down */
    animation: fadeInScaleUp 1.5s ease-out forwards;
}

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

.features-heading h2::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust as needed to visually connect with the heading */
    left: 50%; /* Center the line relative to the heading */
    transform: translateX(-50%); /* Adjust positioning to center the line */
    width: 80%; /* Adjust the width as per your design preference */
    height: 4px;
    background: rgba(248, 237, 215, 0.8); /* A lighter, complementary color */
    animation: widen 1.5s ease-in-out 0.5s both;
}

@keyframes widen {
    from { width: 0; }
    to { width: 80%; } /* Ensure this matches the width in the pseudo-element */
}


.features-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Starts with single column for mobile */
    gap: 60px; /* Space between grid items */
    padding:20px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* For larger screens, adjust the grid to accommodate the 1-2-2 layout */
@media (min-width: 768px) { /* Adjust breakpoint as needed */
    .features-container {
        grid-template-rows: auto auto auto; /* Creates three rows */
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px; /* Two columns for the 2-2 rows */
        padding: 0 40px;
    }

    .features-container > .feature:first-child {
        grid-column: 1 / -1; /* The first feature spans all columns */
    }

    .features-container > .feature img {
        max-width: 100%; /* Adjusts width to fit the grid */
        height: auto; /* Maintains aspect ratio */
    }
}


.feature img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature h3 {
    font-size: 3rem;
    margin: 10px 0;
}

.feature p {
    font-size: 2rem;
}

.cta-button {
    text-align: center;
    margin-top: 50px; /* Adjust spacing as needed */
}
@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.cta-link {
    display: inline-block;
    background-image: linear-gradient(to right, #FFC107, #FFA000); /* Vibrant, attention-grabbing color */
    border: 2px solid transparent; 
    color: #000; /* Contrast for readability */
    font-size: 3.5rem; /* Larger font size for visibility */
    padding: 15px 30px; /* Ample padding for a larger, clickable area */
    border-radius: 25px; /* Rounded corners for a modern, friendly look */
    text-transform: uppercase; /* MAKES IT STAND OUT */
    font-weight: bold; /* Adds emphasis */
    text-decoration: none; /* Removes underline */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    border: none; /* Removes default border */
    cursor: pointer; /* Changes cursor to indicate clickability */
    animation: fadeInSlideUp 0.8s ease-out forwards;
}

.cta-link:hover, .cta-link:focus {
    border-color: #FFA000;
    background-image: linear-gradient(to right, #FFC107, #FFA000); /* Darker shade on hover/focus for interaction feedback */
    color: #FFF; /* Ensures text contrast against darker background */
    transform: translateY(-5px) scale(1.05); /* Slight lift and enlarge effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for 'lifting' illusion */
}

/* Keyframes for a pulsing glow effect */
@keyframes glow {
    0%, 100% { box-shadow: 0 0 15px #FFC107; }
    50% { box-shadow: 0 0 25px #FFA000; }
}

.cta-link:hover {
    animation: glow 1s infinite alternate; /* Applies the glow effect on hover */
}

.major-feature-text {
    font-weight: 600;
}

.major-feature-heading {
    size: 3.2rem;
    font-weight: 700;
}

.major-feature-image{
    width: 30%;
}