@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

body {
    background-image: url("background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 35;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 2rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}



@media screen and (max-width:1320px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
       margin-right: 20px;
       padding: 0;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        background-image: url('background-tablet.webp');
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 450px) and (min-device-height: 600px) and (max-device-height: 940px) and (orientation: portrait) {
    body {
        background-image: url('background-mobile.jpeg');
        background-size: 150%;
        background-repeat: no-repeat;
    }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

.logo-img {
    width: 18%;
}

/* Login button CSS */

/* Base style for the login button */
.login-item .login-btn {
    background-color: #4CAF50; /* Green background */
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    text-decoration: none; /* Remove underline from the link */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-weight: bold;
}

/* Hover style for the login button */
.login-item .login-btn:hover {
    background-color: white; /* Lighter shade of green on hover */
    color: #4CAF50 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Larger shadow for a "lifted" effect */
    transform: translateY(-2px); /* Slight move up to give a "button press" feel */
}

/* Focus style for the login button to maintain accessibility */
.login-item .login-btn:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5); /* Custom focus style */
}


/* About app section */

#about-app {
    background-color: rgba(0, 150, 0, 0.7); /* Tint of green with an alpha value of 0.6 */
    color: white; /* Adjust based on your design preference */
    padding: 145px 20px; /* Adjust padding as needed */
}

/* Heading text */

.heading {
    text-align: center;
    margin-top: 10px; /* Adjust as needed for spacing */
  }
  
  .heading-text {
    font-family: 'Roboto', sans-serif; /* Example font, change as needed */
    font-size: 4rem; /* Large size for main heading */
    color: #4CAF50; /* Example color, change as needed */
    position: relative;
    display: inline-block;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Light background for contrast */
    border-radius: 10px; /* Rounded corners for the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    overflow: hidden; /* Ensures the pseudo-elements don't overflow */
    animation: fadeInUp 1s ease-in-out both; /* Animation for the heading */
  }
  
  /* Fade in and slide up animation */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Adding a decorative pseudo-element to the heading */
  .heading-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #66BB6A; /* Secondary color for a stylish line */
    animation: widen 1.5s ease-in-out 0.5s both; /* Line animation */
  }
  
  /* Animation for the pseudo-element to widen */
  @keyframes widen {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

.container-app {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Ensures responsiveness */
}

.about-image img {
    max-width: 50%;
    border-radius: 10px; /* Optional: for styled image edges */
}

.about-text {
    max-width: 600px; /* Adjust based on your design preference */
    margin: 20px;
    padding: 13px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.about-text h2 {
    color: #f5f5f5;/* Adjust based on your design preference */
    font-size: 2.5rem;
}

.about-text p {
    font-size: 1.8rem; /* Adjust based on your design preference */
    line-height: 1.8; /* Adjust for readability */
    color: #f5f5f5;
}


