<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParaPlanters</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'planters/landing/landing_page.css' %}">
    <link rel="shortcut icon" href="{% static 'planters/landing/logo.png' %}" type="image/png">
</head>
<body>
    <!-- Navbar -->
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#"><img class="logo-img" src="{% static 'planters/landing/logo.png' %}" alt=""></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#about-app">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#hiw">How it Works</a></li>
                <li><a href="#about-me">About me</a></li>
                <li class="login-item"><a class="login-btn" href="#">Login/Signup</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
  </nav>

  <!-- About the app section -->
  <section id="about-app">
    <div class="heading">
        <h1 class="heading-text">ParaPlanters</h1>
    </div>
    <div class="container-app">
        <div class="about-text">
            <h2>About ParaPlanters</h2>
            <p>
                ParaPlanters is an innovative app designed to encourage and facilitate environmental sustainability through interactive and rewarding activities. Our mission is to inspire individuals to contribute positively to their environment, starting with simple yet impactful actions like planting trees. By integrating gamification elements, ParaPlanters makes environmental activism engaging and fun. Users can track their progress, earn rewards for their activities, and see the tangible impact of their contributions on their local and global environment. Join our community of eco-conscious users making a real difference today and help us create a greener, more sustainable future for generations to come.
            </p>          
        </div>
        <div class="about-image">
            <a href="/login"><img src="{% static 'planters/landing/about-login.png' %}" alt="Glorifying Image of App"></a>
        </div>
    </div>
  </section>

  <!-- Features section -->
  <section id="features">

  </section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
  <script>
      $(window).scroll(function() {
          if ($(document).scrollTop() > 50) {
              $('.nav').addClass('affix');
              console.log("OK");
          } else {
              $('.nav').removeClass('affix');
          }
      });
  </script>    
  <script src="{% static 'planters/landing/landing_page.js' %}"></script>
</body>
</html>