<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParaPlanters</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'planters/landing/landing_page.css' %}">
    <link rel="shortcut icon" href="{% static 'planters/landing/logo.png' %}" type="image/png">
</head>
<body>
    <!-- Navbar -->
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#"><img class="logo-img" src="{% static 'planters/landing/logo.png' %}" alt=""></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#about-app">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#hiw">How it Works</a></li>
                <li><a href="#about-me">About me</a></li>
                <li class="login-item"><a class="login-btn" href="#">Login/Signup</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
  </nav>

  <!-- About the app section -->
  <section id="about-app">
    <div class="heading">
        <h1 class="heading-text">ParaPlanters</h1>
    </div>
    <div class="container-app">
        <div class="about-text">
            <h2>About ParaPlanters</h2>
            <p>
                ParaPlanters is an innovative app designed to encourage and facilitate environmental sustainability through interactive and rewarding activities. Our mission is to inspire individuals to contribute positively to their environment, starting with simple yet impactful actions like planting trees. By integrating gamification elements, ParaPlanters makes environmental activism engaging and fun. Users can track their progress, earn rewards for their activities, and see the tangible impact of their contributions on their local and global environment. Join our community of eco-conscious users making a real difference today and help us create a greener, more sustainable future for generations to come.
            </p>          
        </div>
        <div class="about-image">
            <a href="/login"><img src="{% static 'planters/landing/about-login.png' %}" alt="Glorifying Image of App"></a>
        </div>
    </div>
  </section>

  <!-- Features section -->
  <section id="features-section">
    <div class="features-heading">
        <h2>The Features</h2>
    </div>
    <div class="features-container">
        <!-- Feature 1 -->
        <div class="feature">
            <img class="major-feature-img" src="{% static 'planters/landing/feature1.webp' %}" alt="Feature 2">
            <h3 class="major-feature-heading">Gamification Platform</h3>
            <p class="major-feature-text">The Gamification Platform feature of ParaPlanters transforms environmental action into an engaging game where your city starts overrun by pollution. Utilize Tree Points (TP) to enact eco-friendly regulations, shut down polluters, and plant trees, each contributing to cleaner air and earning you Oxygen Points (OP). Different trees offer unique benefits, encouraging strategic planning in your reforestation efforts. Regular participation is rewarded, with daily logins and consistent engagement boosting your TP and allowing you to progress in the game. Compete on a global leaderboard to showcase your environmental impact. This platform not only gamifies sustainability but also directly contributes to real-world reforestation, turning virtual achievements into tangible environmental benefits.</p>
        </div>
        <!-- Feature 2 -->
        <div class="feature">
            <img src="{% static 'planters/landing/feature2.webp' %}" alt="Feature 1">
            <h3>Reward/Point System</h3>
            <p>Earn points for eco-friendly actions like planting trees. Redeem points in our green shop for rewards ranging from custom merch to personalized videos. Engage with weekly guides on tree care, and climb the global leaderboard by making significant environmental impacts.</p>
        </div>
        <!-- Feature 3 -->
        <div class="feature">
            <img src="{% static 'planters/landing/feature3.webp' %}" alt="Feature 3">
            <h3>Direct Tree Purchase</h3>
            <p>Directly contribute to reforestation by purchasing trees through our app. Each tree costs 50 cents, with a minimum purchase of 10 trees. Your orders support our planting initiatives, with completion every Sunday. Also available: custom eco-friendly merchandise.</p>
        </div>
        <!-- Feature 4 -->
        <div class="feature">
            <img src="{% static 'planters/landing/feature4.webp' %}" alt="Feature 4">
            <h3>Environmental Impact Tracking</h3>
            <p>Monitor your eco-contributions with our comprehensive dashboard. Track carbon footprint reduction, oxygen contributions, and overall ecosystem impact. Receive personalized reports highlighting your achievements and the collective success of the GreenHabit Grove community.</p>
        </div>
        <!-- Feature 5 -->
        <div class="feature">
            <img src="{% static 'planters/landing/feature5.webp' %}" alt="Feature 5">
            <h3>The Eco-Art Gallery</h3>
            <p>Unleash your creativity in our Eco-Art Gallery. Share your environmental-themed artworks, from paintings to digital creations. Participate in themed exhibitions and enjoy a personalized artist profile. Your art celebrates nature's beauty and supports sustainability efforts.</p>
        </div>
    </div>
    <div class="cta-button">
        <a href="#" class="cta-link">Login/Signup</a>
    </div>
</section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
  <script>
      $(window).scroll(function() {
          if ($(document).scrollTop() > 50) {
              $('.nav').addClass('affix');
              console.log("OK");
          } else {
              $('.nav').removeClass('affix');
          }
      });
  </script>    
  <script src="{% static 'planters/landing/landing_page.js' %}"></script>
</body>
</html>